<h1>ESS CLOUD</h1>
<p>ESS CLOUD, The one stop solution for ecommerce.</p>

<p>Subscribe and take the advantage of the ESS Cloud.</p>
<div class="card-deck mb-3 text-center">
  <div class="card mb-4 box-shadow" *ngFor="let subscription of subscriptions">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">{{subscription?.title}}</h4>
    </div>
    <div class="card-body">
      <h1 class="card-title pricing-card-title">${{subscription?.amount}} <small class="text-muted">/ {{subscription?.frequency}}</small></h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>{{subscription?.services}}</li>
      </ul>
      <button type="button" class="btn btn-lg btn-block btn-outline-primary" *ngIf="subscription?.amount == 0" (click)="Subscribe(subscription?.subscriptionId, subscription?.subcriptionCode)">Subscribe for free</button>
      <button type="button" class="btn btn-lg btn-block btn-primary" *ngIf="subscription?.amount > 0" (click)="Subscribe(subscription?.subscriptionId, subscription?.subcriptionCode)" >Get started</button>
    </div>
  </div>
</div>
